#view-index {
  a {
    display: inline-block;
    min-width: 120px;
    color: #fff;
    background-color: #1E88E5;
    text-decoration: none;
    border-radius: 2px;
    padding: 10px 16px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.24);
    transition: all .3s;
    &:hover {
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0, 0.24);
    }
  }
}
